:root {
    --primary: #59ada1;
    --secondary: #ffffff;
    --text-color: #FFF;
    --text-secondary: #000;
    --text-tertiary: #5d5d5d;

}

@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@200;300;400;600;700&display=swap');

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;;
    padding: 0;
    box-sizing: border-box;
}



/* event form */
    #event-description {
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("../img/hrz-5.jpg");
    background-position: center;
    background-size: cover;
    height: 85vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--text-color);
}

  #subcription-form {
  background-color: var(--secondary);
  padding: 2em;
  max-width: 22%;
  border-radius: 15px; /* Esta linha arredonda as bordas do formulário */
  border: 2px solid var(--primary); /* Esta linha adiciona uma borda ao formulário */
}

  #subcription-form .form-group input,
  #subcription-form .form-group select {
    padding: 10px 8px;
    border-radius: 5px; /* Arredonda as bordas dos elementos de entrada */
    border: 2px solid var(--primary); /* Adiciona uma borda aos elementos de entrada */
    outline: none;
}



#disclaimer h2,
#disclaimer .event-date {
    color: var(--primary)
}

#disclaimer h2 {
    font-size: 3em;
    margin-bottom: 1em;
}

#disclaimer .about-event {
    font-size: 2em;
    text-transform: uppercase;
    max-width: 350px;
    font-weight: bold;
    margin-bottom: 1em;
}

#disclaimer p {
    font-size: 1.2em;
    margin-bottom: 0.3em;
}

#disclaimer .event-date{
    font-weight: bold;
}

#subcription-form {
    background-color: var(--secondary);
    padding: 2em;
    max-width: 22%;
}

#subcription-form p {
    font-size: 1.5em;
    color: var(--text-secondary);
    margin-bottom: 1em;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.8em;
}

.form-group label {
    color: var(--text-tertiary);
    margin-bottom: .3em;
    font-weight: bold;
}

.form-group input,
.form-group select {
    padding: 10px 8px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.btn {
    background-color: var(--primary);
    color: var(--text-color);
    text-transform: uppercase;
    width: 100%;
    padding: 12px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
  }

  .btn:hover{
      opacity: 1;
  }
  /* Benefits section */
#key-benefits h2 {
    background-color: var(--secondary);
    text-align: center;
    padding: 2em;
    font-weight: 500;
  }
  
  .benefits {
    display: flex;
    justify-content: space-around;
    padding: 4em 1em;
    width: 80%;
    margin: 0 auto;
  }

  .benefit p {
    font-size: 1.5em; /* Aumenta o tamanho do texto */
}

  .benefit {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    color: var(--text-tertiary);
  }
  
  .benefit .benefit-img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-bottom: 1em;
    border: 4px solid #59ada1;
  }
  
  #benefit-1 {
    background-image: url("img/testa.png");
  }
  
  #benefit-2 {
    background-image: url("img/bunny.png");
  }
  
  #benefit-3 {
    background-image: url("img/galinha.png");
  }

  #benefit-4 {
    background-image: url("img/GLABELA.png");
  }
  
  /* Event location */
  #location {
    height: 500px;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url("img/fundo2.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--text-color);
    margin-bottom: 3em;
   
  }
  
  #address,
  #about-location {
    margin: 0 20px;
    max-width: 30%;
}

  
  #address {
    display: flex;
  }
  
  #address i {
    color: var(--primary);
    font-size: 4em;
    margin-right: 0.5em;
  }
  
  #address-details {
    text-align: center;
    font-size: 1.3em;
  }
  
  #about-location h3 {
    color: var(--primary);
    font-size: 2.5em;
    margin-bottom: 1em;
    text-transform: uppercase;
  }

  #location img, #details img {
    border: 3px solid #000; /* Ajuste a cor e a largura da borda conforme necessário */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ajuste as propriedades da sombra conforme necessário */
    border-radius: 15px; /* Ajuste o raio da borda conforme necessário */
}

  
  #about-location p {
    line-height: 1.5em;
    padding: 4em 1em;
  }
  
  /* Event details container */
  #details {
    width: 80%;
    margin: 0 auto;
  }
  
  .detail {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 5%;
    margin-bottom: 4em;
  }
  
  .detail img {
    width: 50%;
  }
  
  .detail h3 {
    margin-bottom: 1em;
    font-size: 2em;
    font-weight: 500;
  }
  
  #detail-1 h3 {
    font-size: 3em;
    font-weight: 700;
  }
  
  @keyframes fadeInOut {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}
  
  .detail-description h3 {
  animation: fadeInOut 4s infinite ease-in-out;
}

  .detail-description {
    width: 100%;
    padding-left: 2em;
  }
  
  #detail-3 .detail-description {
    justify-self: flex-start;
  }
  
  .detail-description ul {
    list-style-position: inside;
  }
  
  .detail-description ul li {
    margin-bottom: 0.4em;
  }
  
  .detail-description ul li:last-child {
    font-weight: bold;
  }
  
  /* Call to Action Section */
  #cta {
    height: 300px;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url("img/fundo3.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: var(--text-color);
  }
  
  #cta h3 {
    margin-bottom: 1.2em;
    font-size: 2em;
    font-weight: 500;
  }
  
  #cta .btn {
    width: 30%;
    margin: 0 auto;
    font-weight: 600;
    font-size: 1.2em;
  }
  
  /* Footer */
  #footer {
    text-align: center;
    color: rgb(32, 32, 32);
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  #footer h3 {
    font-size: 1.8em;
    margin-bottom: 0.5em;
  }
  
  #footer p:nth-child(2) {
    margin-bottom: 1em;
    font-size: 1.2em;
  }
  
  #footer span {
    font-weight: bold;
  }
  
  /* Mobile */
  @media (max-width: 1100px) {
    /* Event form */
    #event-description {
      flex-direction: column;
      height: auto;
      width: 100%;
    }
  
    #disclaimer {
      padding: 2em;
    }
  
    #disclaimer h2 {
      margin-bottom: 0.5em;
      }
    
    #subcription-form {
      max-width: 70%;
      margin-bottom: 2em;
    }
  
    /* Benefits section */
    .benefits {
      flex-direction: column;
      align-items: center;
      width: auto;
      padding: 2em;
    }
  
    .benefit {
      max-width: 100%;
      margin-bottom: 2em;
    }
  
    /* Event location */
    #location {
      flex-direction: column;
      height: auto;
      text-align: center;
      padding: 2em 0;
    }
  
    #address {
      order: 2;
      flex-direction: column;
      max-width: 100%;
    }
  
    #address i {
      margin: 0.3em 0;
    }
  
    #about-location {
      order: 1;
      max-width: 100%;
    }
  
    #about-location h3 {
      margin-bottom: 0;
    }
  
    #about-location p {
      display: none;
    }
  
    /* Event details container */
  
  
    /* Call to Action Section */
    #cta .btn {
      width: 80%;
    }
    
    .btn-contact {
      text-decoration: none; /* Remove o sublinhado */
  }
    
  }

  .container {
    width: 100%; /* Se o container deve ocupar toda a largura disponível */
    height: 100vh; /* Isso garante que o container ocupe toda a altura da janela */
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    flex-direction: column;
} 

.cards {

    position: relative;
    height: 500px;
    width: 430px;
    margin-bottom: 20px;
    perspective: 1000px;
    transform-style: preserve-3d;
    
}

.cards label {

    position: absolute;
    width: 430px;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    transition: transform 0.55s ease;
}

.cards .card{

    position: relative;
    height: 100%;
    background-color: #323444;
    border-radius: 10px;
    padding: 30px 35px;
}

.card .image{

    display: flex;
    justify-content: space-between;
}

.card .image img{

    border-radius: 5px;
    box-shadow: 15px 15px 40px rgba(0, 0, 0, 50%);
    margin-top: 23px;
    width: 86%;
    height: 220px;
    object-fit: cover;
}

.card .image .dots{

    text-align: center;
}

.dots div{

    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.dots div:nth-child(1){

    background-color: var(--current-color1);
}

.dots div:nth-child(2){

    background-color: #5B85F9;
}

.dots div:nth-child(3){

    background-color: #000;
}

.card .infos{

    display: block;
    text-align: end;
    padding-top: 60px;
}

.infos span{

    display: block;
}

.infos .name{

    font-size: 30px;
    color: var(--current-color1);
    letter-spacing: 8px;
    margin-bottom: 20px;
    padding-left: 25%;
    transition: all .6s ease;
}

.infos .lorem{

    font-size: 15.5px;
    color: #ECEAED;
    letter-spacing: 3px;
}

.card .btn-contact{

    width: 100%;
    height: 60px;
    margin: 35px auto;
    border-radius: 5px;
    background-color: var(--current-color1);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 25px;
    letter-spacing: 10px;
    font-weight: 700;
    transition: all .7s ease;
}

.card .socials{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.socials i{

    font-size: 25px;
    transition: all .7s ease;
    color: var(--current-color2);
}



#s1:checked~.cards #slide4,
#s2:checked~.cards #slide5,
#s3:checked~.cards #slide1,
#s4:checked~.cards #slide2,
#s5:checked~.cards #slide3 {
    box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 45%);
    transform: translate3d(-70%, 0, -220px);
    --current-color1: #ECEAED;
    --current-color2: #404457;
}

#s1:checked~.cards #slide5,
#s2:checked~.cards #slide1,
#s3:checked~.cards #slide2,
#s4:checked~.cards #slide3,
#s5:checked~.cards #slide4 {
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 45%);
    transform: translate3d(-35%, 0, -120px);
    --current-color1: #ECEAED;
    --current-color2: #404457;
}

#s1:checked~.cards #slide1,
#s2:checked~.cards #slide2,
#s3:checked~.cards #slide3,
#s4:checked~.cards #slide4,
#s5:checked~.cards #slide5 {
    box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 50%);
    transform: translate3d(0, 0, 0);
    --current-color1: var(--primary);
    --current-color2: #ECEAED;
}

#s1:checked~.cards #slide2,
#s2:checked~.cards #slide3,
#s3:checked~.cards #slide4,
#s4:checked~.cards #slide5,
#s5:checked~.cards #slide1 {
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 45%);
    transform: translate3d(35%, 0, -120px);
    --current-color1: #ECEAED;
    --current-color2: #404457;
}

#s1:checked~.cards #slide3,
#s2:checked~.cards #slide4,
#s3:checked~.cards #slide5,
#s4:checked~.cards #slide1,
#s5:checked~.cards #slide2 {
    box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 45%);
    transform: translate3d(70%, 0, -220px);
    --current-color1: #ECEAED;
    --current-color2: #404457;
}

.d-none {
  display: none;
}